{% extends 'base.html' %}

{% block content %}
<div class="hero min-h-[70vh] bg-white rounded-box shadow-xl">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold text-teal-500">ยินดีต้อนรับสู่ <br> Miku Sekai</h1>
        
        <p class="py-6 text-gray-700 font-medium">
          คอมมูนิตี้สำหรับคนรัก Hatsune Miku! มาร่วมแบ่งปันเพลงโปรด พูดคุยเรื่อง Vocaloid และค้นพบโลกแห่งเสียงดนตรีไปด้วยกัน
        </p>
        
        <button class="btn border-none bg-teal-500 hover:bg-teal-600 text-white font-bold">
          สำรวจคลังเพลงเลย!
        </button>
      </div>
    </div>
</div>
{% endblock %}